In [1]:
import pandas as pd
import numpy as np
print("pandas and numpy imported")

pandas and numpy imported

In [2]:
my_numpy_array = np.random.rand(3)

In [3]:
type(my_numpy_array)

numpy.ndarray

In [4]:
my_numpy_array[0]

0.4981814586549509

In [5]:
my_numpy_array[1]

0.1039732385222375

In [6]:
my_series = pd.Series(my_numpy_array)

In [7]:
my_series[0]

0.4981814586549509

In [8]:
my_series = pd.Series(my_numpy_array, index=["First", "Second", "Third"])

In [9]:
my_series[0]

0.4981814586549509

In [10]:
my_series["First"]

0.4981814586549509

In [11]:
my_series

First     0.498181
Second    0.103973
Third     0.092085
dtype: float64

In [12]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [13]:
array_2d = np.random.rand(3, 2)

In [14]:
array_2d[0, 1]

0.2498574935455764

In [15]:
df = pd.DataFrame(array_2d)

In [16]:
df

          0         1
0  0.050007  0.249857
1  0.613860  0.698342
2  0.565237  0.396285

In [17]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [18]:
df.columns = ["First", "Second"]

In [19]:
df

      First    Second
0  0.050007  0.249857
1  0.613860  0.698342
2  0.565237  0.396285

In [20]:
df["Second"]

0    0.249857
1    0.698342
2    0.396285
Name: Second, dtype: float64