In [1]:
#JSON Demo
import pandas as pd
import os
import json
print("imported pandas, json and os")

imported pandas, json and os

In [2]:
# Example usage of from_records method
records = [("Espresso", "5$"),
           ("Flat White", "10$")]

In [3]:
pd.DataFrame.from_records(records)

            0    1
0    Espresso   5$
1  Flat White  10$

In [4]:
pd.DataFrame.from_records(records,
                          columns=["Coffee", "Price"])

       Coffee Price
0    Espresso    5$
1  Flat White   10$

In [5]:
KEYS_TO_USE = ['id', 'all_artists', 'title', 'medium', 'dateText',
               'acquisitionYear', 'height', 'width', 'units']

In [6]:
def get_record_from_file(file_path, keys_to_use):
    #Process single json file and return a tuple containing specific fields.

    with open(file_path) as artwork_file:
        content = json.load(artwork_file)
            
    record = []    
    for field in keys_to_use:
        record.append(content[field])
        
    return tuple(record)

In [7]:
# Single file processing function demo
SAMPLE_JSON = os.path.join('..', 'collection-master',
                           'artworks', 'a', '000',
                           'a00001-1035.json')

In [8]:
#sample_record = get_record_from_file(SAMPLE_JSON, KEYS_TO_USE)

In [9]:
def read_artworks_from_json(keys_to_use):
#     Traverse the directories with JSON files.
#     For first file in each directory call function
#     for processing single file and go to the next
#     directory.
    
    JSON_ROOT = os.path.join('..', 'collection-master',
                             'artworks')
    artworks = []
    for root, _, files in os.walk(JSON_ROOT):
        for f in files:
            if f.endswith('json'):
                record = get_record_from_file(
                            os.path.join(root, f),
                            keys_to_use)
                artworks.append(record)
            break
        
    df = pd.DataFrame.from_records(artworks,
                                   columns=keys_to_use,
                                   index="id")
    return df

In [10]:
df = read_artworks_from_json(KEYS_TO_USE)

In [11]:
df.head(5)

Empty DataFrame
Columns: [all_artists, title, medium, dateText, acquisitionYear, height, width, units]
Index: []